## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [32]:
cities = ["Brasilia", "Cusco", "Buenos Aires", "Bogota", "Quito", "La Paz", "Montevideo"]

print(cities)

['Brasilia', 'Cusco', 'Buenos Aires', 'Bogota', 'Quito', 'La Paz', 'Montevideo']

2) Imprimir por pantalla el segundo elemento de la lista

In [9]:
print(cities[1])

Cusco

3) Imprimir por pantalla del segundo al cuarto elemento

In [10]:
print(cities[1:4])

['Cusco', 'Buenos Aires', 'Bogota']

4) Visualizar el tipo de dato de la lista

In [5]:
print(type(cities))

<class 'list'>

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [33]:
print(cities[2:])

['Buenos Aires', 'Bogota', 'Quito', 'La Paz', 'Montevideo']

6) Visualizar los primeros 4 elementos de la lista

In [12]:
print(cities[:4])

['Brasilia', 'Cusco', 'Buenos Aires', 'Bogota']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [34]:
cities.append("Medellin")
cities.append("Brasilia")

print(cities)

['Brasilia', 'Cusco', 'Buenos Aires', 'Bogota', 'Quito', 'La Paz', 'Montevideo', 'Medellin', 'Brasilia']

8) Agregar otra ciudad, pero en la cuarta posición

In [35]:
cities.insert(3, "Ciudad de Mexico")

print(cities)

['Brasilia', 'Cusco', 'Buenos Aires', 'Ciudad de Mexico', 'Bogota', 'Quito', 'La Paz', 'Montevideo', 'Medellin', 'Brasilia']

9) Concatenar otra lista a la ya creada

In [36]:
cities.extend(["Sao Paulo", "Cancun"])

print(cities)

['Brasilia', 'Cusco', 'Buenos Aires', 'Ciudad de Mexico', 'Bogota', 'Quito', 'La Paz', 'Montevideo', 'Medellin', 'Brasilia', 'Sao Paulo', 'Cancun']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [37]:
print(cities.index("Brasilia"))
print(cities.index("Bogota"))

0
4

11) ¿Qué pasa si se busca un elemento que no existe?

In [20]:
print(cities.index("Cartagena"))

ValueError: 'Cartagena' is not in list

12) Eliminar un elemento de la lista

In [38]:
cities.remove("La Paz")

In [39]:
print(cities)

['Brasilia', 'Cusco', 'Buenos Aires', 'Ciudad de Mexico', 'Bogota', 'Quito', 'Montevideo', 'Medellin', 'Brasilia', 'Sao Paulo', 'Cancun']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [40]:
cities.remove("Cartagena")

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [41]:
ultimo = cities.pop()
print(ultimo)

Cancun

In [42]:
print(cities)

['Brasilia', 'Cusco', 'Buenos Aires', 'Ciudad de Mexico', 'Bogota', 'Quito', 'Montevideo', 'Medellin', 'Brasilia', 'Sao Paulo']

15) Mostrar la lista multiplicada por 4

In [43]:
print(cities * 4)

['Brasilia', 'Cusco', 'Buenos Aires', 'Ciudad de Mexico', 'Bogota', 'Quito', 'Montevideo', 'Medellin', 'Brasilia', 'Sao Paulo', 'Brasilia', 'Cusco', 'Buenos Aires', 'Ciudad de Mexico', 'Bogota', 'Quito', 'Montevideo', 'Medellin', 'Brasilia', 'Sao Paulo', 'Brasilia', 'Cusco', 'Buenos Aires', 'Ciudad de Mexico', 'Bogota', 'Quito', 'Montevideo', 'Medellin', 'Brasilia', 'Sao Paulo', 'Brasilia', 'Cusco', 'Buenos Aires', 'Ciudad de Mexico', 'Bogota', 'Quito', 'Montevideo', 'Medellin', 'Brasilia', 'Sao Paulo']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [7]:
miTupla = 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
print(miTupla)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [46]:
print(type(miTupla))

<class 'tuple'>

17) Imprimir desde el índice 10 al 15 de la tupla

In [45]:
print(miTupla[10:16])

(11, 12, 13, 14, 15, 16)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [48]:
20 in miTupla

True

In [49]:
30 in miTupla

False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [2]:
cities2 = ["Brasilia", "Cusco", "Buenos Aires", "Bogota", "Quito", "La Paz", "Montevideo"]

encontrar = "Paris"

if "encontrar" in cities2:
    print(Encontrar, " existe en la Lista ")
else:
    cities2.append(encontrar)
    print(encontrar, " no exitia en la lista, pero ya se a agregado")

Paris  no exitia en la lista, pero ya se a agregado

In [3]:
print(cities2)

['Brasilia', 'Cusco', 'Buenos Aires', 'Bogota', 'Quito', 'La Paz', 'Montevideo', 'Paris']

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [4]:
print(cities2.count("Montevideo"))

1

In [9]:
print(miTupla.count(50))

0

21) Convertir la tupla en una lista

In [12]:
print(miTupla)

miList = list(miTupla)
print(miList)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [20]:
elem1, elem2, elem3, elem4, elem5, elem6, elem7, elem8, elem9, elem10, elem11, elem12, elem13, elem14, elem15, elem16, elem17, elem18, elem19, elem20 = miTupla
print("Elemento 1: ", elem1)
print("Elemento 2: ", elem2)
print("Elemento 3: ", elem3)

Elemento 1:  1
Elemento 2:  2
Elemento 3:  3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [27]:
miDic = {"Ciudad": cities2, "Pais": [], "Continente": []}
print(miDic)

{'Ciudad': ['Brasilia', 'Cusco', 'Buenos Aires', 'Bogota', 'Quito', 'La Paz', 'Montevideo', 'Paris'], 'Pais': [], 'Continente': []}

24) Imprimir las claves del diccionario

In [31]:
print(miDic.keys())

dict_keys(['Ciudad', 'Pais', 'Continente'])

25) Imprimir las ciudades a través de su clave

In [34]:
print(miDic["Ciudad"])

['Brasilia', 'Cusco', 'Buenos Aires', 'Bogota', 'Quito', 'La Paz', 'Montevideo', 'Paris']